@*@model Library.Models.BorrowingHistory*@
@model Library.ViewModel.DetailViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BorrowingHistory</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Borrower.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Borrower!.Name)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowingHistory.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowingHistory.TotalCost)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Item Title</th>
            <th>Price </th>
            <th>Quantity </th>
            <th>Cost </th>
            <th>Return Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.BorrowingDetail) {
        <form  asp-action="Edit">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Price)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @if(item.ReturnDate == null||item.ReturnDate.ToString() == ""){
                        <input type="submit" value="Return Item" class="btn btn-primary" />
                    }
                    <input type="hidden" asp-for="DetailId" value="@item.Id" />
                    <input type="hidden" asp-for="ItemId" value="@item.ItemId" />
                </td>
            </tr>
        </form>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
